<!-- urls: {{urls_display}} <br>
url: {{urls_display[0]}} <br>
url: {{url}} <br> -->
<table
    ng-if="ctrl.panel.show_request_dates"
    style="width:100%; text-align: center;"
>
    <tr>
        <td
        ng-repeat="url in ctrl.panel.urls track by url.request_time"
        width="{{ctrl.img_width}}%"

        >{{ url.request_time }}</td>
    </tr>
</table>
<div class="erddap-img-row">
        <!-- url: {{url}} <br> -->
        <a
            href="{{url.link}}"
            ng-repeat="url in ctrl.panel.urls track by url.request_time"
            target="_blank"
        ><img class="erddap-img"
            ng-src="{{url.display}}"
            title="{{ url.request_time }}"
            width="{{ctrl.img_width}}%"/></a>
</div>

<div ng-if="ctrl.panel.colorbar_display=='unified'">
    <a href="{{ctrl.panel.url}}/griddap/{{ctrl.panel.product_id}}.html">
        <img ng-src="{{ctrl.legend_url}}"
            title="click for for data access options & metadata."
            target="_blank"
        />
    </a>
</div>
