<!-- urls: {{constructed_urls}} <br>
url: {{constructed_urls[0]}} <br>
url: {{url}} <br> -->
<div class="erddap-img-row">
        <!-- url: {{url}} <br> -->
        <a
            href="{{url}}"
            ng-repeat="url in ctrl.constructed_urls"
            target="_blank"
        ><img class="erddap-img" ng-src="{{url}}" width="{{ctrl.img_width}}%"/></a>
</div>
<div >
    <img ng-src="{{ctrl.legend_url}}"/>
    <p>
        data source: <a href="{{ctrl.panel.url}}/griddap/{{ctrl.panel.product_id}}.html">{{ctrl.panel.url}}</a>
    </p>
</div>
