<div class="editor-row options-tab">
    <div class="section gf-form-group">
        <h5 class="section-heading">ERDDAP Server</h5>
        <div class="gf-form">
            <!-- Example URLs:
                    https://coastwatch.pfeg.noaa.gov/erddap
                    http://imars-physalis.marine.usf.edu:8080/erddap
            </ul> -->
            <div class="gf-form-inline">
                <div class="gf-form max-width-30">
                    <span class="gf-form-label width-7">URL</span>
                </div>
                <input
                type="text" class="gf-form-input width-30"
                ng-init="ctrl.current.URL='http://imars-physalis.marine.usf.edu:8080/erddap'"
                ng-model="ctrl.current.URL"
                ng-change="ctrl.render()"
                ng-model-onblur
                />
            </div>
        </div>

        <br/>

        <h5 class="section-heading">UNUSED EXTRA JUNK</h5>
        <div class="gf-form">
            <label class="gf-form-label width-8">Type</label>
            <div class="gf-form-select-wrapper width-8">
                <select
                class="gf-form-input"
                ng-model="ctrl.panel.sortingOrder"
                ng-options="n for n in ctrl.sortingOrderOptions"
                ng-change="ctrl.render()"
                />
            </div>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8">Null Value</label>
            <input
            type="number"
            class="gf-form-input width-8"
            placeholder="error" data-placement="right"
            bs-tooltip="'Map NULL values to constant. Default behaviour is to throw error.'"
            ng-model="ctrl.panel.nullMapping"
            ng-change="ctrl.render()"
            ng-model-onblur
            />
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8">Decimals</label>
            <input
            type="number"
            class="gf-form-input width-7"
            placeholder="auto" data-placement="right"
            bs-tooltip="'Override automatic decimal precision'"
            ng-model="ctrl.panel.decimals"
            ng-change="ctrl.render()"
            ng-model-onblur
            />
            </div>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8">Progress Type</label>
            <div class="gf-form-select-wrapper width-8">
                <select
                class="gf-form-input"
                ng-model="ctrl.panel.statProgressType"
                ng-options="n for n in ctrl.statProgressTypeOptions"
                ng-change="ctrl.render()"
                />
            </div>
        </div>
        <div class="gf-form" ng-if="ctrl.panel.statProgressType == 'max value'">
            <label class="gf-form-label width-8">Max Value</label>
            <input
            type="number"
            class="gf-form-input width-8"
            placeholder="auto" data-placement="right"
            bs-tooltip="'Max value will be equal to max progreesss in auto mode'"
            ng-model="ctrl.panel.statProgressMaxValue"
            ng-change="ctrl.render()"
            ng-model-onblur
            />
        </div>
    </div>  <!-- /section group -->
</div>  <!-- /tab -->
